/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 14, 2016, 9:45:18 PM
    Author     : dogisoft
*/

body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

